body{
	background-image: url("../img/bakgrund.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.logga{
	position: fixed;
	left: 0px;
	width: 200px;
	top: 0px;
}

.navbar{
	position: fixed;
	top: 20px;
	width: calc(100% - 220px);
	background-color: rgba(255,255,255,0.90);
	font-size: 20px;
}

footer{
	position: fixed;
	left: 200px;
	bottom: 20px;
	width: calc(100% - 220px);
	background-color: rgba(255,255,255,0.90);
	color: black;
	text-align: center;
	font-size: 13px;
	padding-top: 10px;
	font-weight: bold;
}

.footerbild{
	width: 15px;
}

a{
	color: black;
	font-weight: bold;
}
.förlänghamburg { /*utdragen*/
	background-color: transparent;
	position: fixed;
	top: 0px;
	width: 0px;
	left: 0px;
	height: 0px;
}

@media (max-width: 767px) { /*hamburgare*/
	.navbar {
		width: 140px;
	}

	.nav-fill .nav-item {
		text-align: left;
	}

	.förlänghamburg { 
		background-color: rgba(255,255,255,0.90);
		width: calc(100% - 360px);
		height: 56px;
		left:340px;
		top: 20px;

	}
}

.rowmargin{
	margin-left: 200px;
	margin-top: 100px;
	margin-bottom: 70px;
	width: calc(100% - 220px);
	font-size: 15px;
}

.enkolumnmargin{
	width: calc(100% - 0px);
	font-size: 15px;
	margin-top: 0px;
	margin-left: 0px;
}

.kolumnmargin{
	margin-bottom: 20px;
}


h1 {
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

.cardbakgrund {
	background-color: rgba(255,255,255,0.90);
}

* {
	font-family: 'Montserrat';
}

.center{
	text-align: center;
}